<h1><%= @merchant.name %></h1>

<p><%= link_to "Invoices", "/merchants/#{@merchant.id}/invoices"  %></p>
<p><%= link_to "Items", "/merchants/#{@merchant.id}/items"  %></p>

<h4> Top Customers </h4>
<% @merchant.top_five_customers.each_with_index do |customer, idx| %>
  <section id="customer-<%=idx%>">
    <%="#{customer.first_name} #{customer.last_name}: #{customer.transaction_count}" %>
  </section>
<% end %>

<div class="items_ready_to_ship">
  <h4> Items Ready to Ship </h4>
  <% @merchant.items_not_shipped.each do |item| %>
    <section id="<%=item.id%>">
      <li><%= item.name %> - Invoice#<%= link_to item.invoice_id, merchant_invoices_path(@merchant.id, item.invoice_id) %> - <%= item.invoice_created.strftime("%A, %B %d,%Y") %></li>
    </section>
  <% end %>
</div>
