<h1>Admin Dashboard</h1>
<div class="links">
  <p><%= link_to "All Merchants", admin_merchants_path %></p>
  <p><%= link_to "All Invoices", admin_invoices_path %></p>
</div>

<div class="top_five_customers">
  <table class="table">
    <h3>Top Five Customers</h3>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Successful Transactions </th>
      </tr>
    </thead>
    <tbody>
      <% @customers.top_five_customers.each do |customer| %>
      <tr>
        <th scope="row"><%= customer.full_name %></th>
        <td><%= customer.successful_transactions_count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div><br>

<h3>Incomplete Invoices</h3><br>
<div class="incomplete_invoices">
  <table class="table">
    <thead class= 'table-dark'>
      <style>
        .incomplete_invoices {
      position: relative;
      height: 500px;
      width: 350px;
      overflow: auto;
      }
      .incomplete_invoices {
      display: block;
      }
      </style>
      <tr>
        <th scope="col">Invoice Number</th>
        <th scope="col">Created at </th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.incomplete_invoices.each do |invoice| %>
      <tr>
          <th scope="row"><%= link_to "#{invoice.id}", admin_invoice_path(invoice.id) %></th>
          <td><%= invoice.created_at.strftime("%A, %B %d,%Y") %></td>
      </tr>
      <%end%>
    </tbody>
  </table>
</div>
