<h1>Admin Dashboard</h1>
<div class="links">
  <p><%= link_to "All Merchants", admin_merchants_path %></p>
  <p><%= link_to "All Invoices", admin_invoices_path %></p>
</div>


<h2>Incomplete Invoices</h2>
<div class="incomplete_invoices">
  <% @invoices.incomplete_invoices.each do |invoice| %>
    <li><%= link_to "Invoice #{invoice.id}", admin_invoice_path(invoice.id) %> - Created: <%= invoice.created_at.strftime("%A, %B %d,%Y") %><li>
  <% end %>
</div>

<div class="top_five_customers">
  <h2>Top 5 Customers</h2>
  <% @customers.top_five_customers.each do |customer| %>
    <h3><%= customer.full_name %> with <%= customer.successful_transactions_count %> completed transactions</h3>
  <% end %>
</div>
